<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <!-- %= form.autocomplete_field :brand_name, autocomplete_brand_name_products_path % -->
    <!-- %= form.hidden_field :brand_id, :class=> ".brandid" % -->
    <%= form.autocomplete_field :brand_name, autocomplete_brand_name_products_path, :id_element => '.brandid'%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
